.spinner {
  &-wrap {
    margin-top: 200px;
     position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }

  &-item {
    //background: red;
    border: 2px solid #fede4b;
    border-radius: 50%;
    height: 600px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: zoom 2s linear 0.75s infinite;

    &--2 {
      animation-delay: 1.25s;
    }

    &--3 {
      animation-delay: 1.75s;
    }
  }
}

@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
